*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.btn {
    border: 1px solid transparent;
    width: 100%;
    padding-block: 8px;
    background-color: rgb(237, 0, 103);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    border: 1px solid rgb(237, 0, 103);
    background-color: transparent;
    color: rgb(237, 0, 103);
}