.login-container {
    min-height: 100vh;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #ffdbdbde;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 40px 20px;
    width: 460px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-radius: 20px;
}
.form h1 {
    color: rgb(178, 0, 77);
}
.form p {
    color: rgb(178, 0, 77);
    font-size: 12px;
}
.form a {
    color: rgb(178, 0, 77);
    text-decoration: none;
}
.form div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form div label {
    font-size: 12px;
    color: rgb(237, 0, 103);
    text-transform: uppercase;
    font-weight: 600;
}
.form div input {
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
.btn-auth {
    padding: 12px;
}
.form-error-message {
    background-color: rgba(242, 129, 178, 0.434);
    padding: 8px 16px;
    border-radius: 5px;
}
