.button {
    padding: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
    color: rgb(18, 18, 18);
    border: 2px solid transparent;
    transition: all 0.25s ease-in-out;
}

.button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

@media screen and (max-width: 1280px) {
    .button {
        font-size: 16px;
        padding: 8px 16px;
    }
}