.button {
    padding: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
    color: rgb(18, 18, 18);
    border: 2px solid transparent;
    transition: all 0.25s ease-in-out;
}

.button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.categories {
    border: 1px solid rgb(237, 0, 103);
    color: rgb(237, 0, 103);
    padding: 2px 16px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.categories:hover {
    background-color: rgb(237, 0, 103);
    color: white;
    border: 1px solid transparent;
}

.categories-active {
    background-color: rgb(237, 0, 103);
    color: white;
    border: 1px solid transparent;
}
@media screen and (max-width: 1280px) {
    .button {
        font-size: 16px;
        padding: 8px 16px;
    }
}