.table-image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    overflow: hidden;
}

.table-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.button-container button {
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.button-container button:hover {
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

.form-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.493);
    inset: 0;
    z-index: 99;
}

.product-form {
  width: 480px;
  margin: 40px auto;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.product-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-group textarea {
  resize: vertical;
  min-height: 80px;
}

.form-group.checkbox {
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

button {
 
  padding: 12px;
  background: #1976d2;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
